.split-container{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.spplit-one{
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/bg.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
}
.spplit-two{
    width: 100%;
    height: 100vh;
    background-image: url(../imgs/bg.jpg);
    background-size: 100% 100%;
    background-attachment: fixed;
    filter: grayscale(100);
    /* filter:  blur(3px); */
    /* filter: contrast(200%); */
}
.gutter{
    height: 100%;
}

body{
    height: 100vh;
}